workflows/ubiquiti-stock-check.json
{
  "updatedAt": "2026-01-28T23:16:56.111Z",
  "createdAt": "2025-12-31T16:03:06.302Z",
  "id": "l3ODSj6xssx0rGMS",
  "name": "Ubiquiti Stock Check",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ubiquiti-stock-check",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "ubiquiti-stock-check"
    },
    {
      "parameters": {
        "url": "={{ $json.body.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "http-request",
      "name": "Fetch Product Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst webhookData = $('Webhook').first().json.body;\n\n// Get HTML from response\nconst html = input.data || input.body || (typeof input === 'string' ? input : '');\n\nif (!html || typeof html !== 'string') {\n  return [{\n    json: {\n      success: false,\n      error: 'Could not fetch product page',\n      url: webhookData.url\n    }\n  }];\n}\n\n// Extract product name from page title or og:title\nlet productName = 'Unknown Product';\nconst titleMatch = html.match(/<title>([^<]+)<\\/title>/i);\nconst ogTitleMatch = html.match(/property=\"og:title\"\\s+content=\"([^\"]+)\"/i);\nif (ogTitleMatch) {\n  productName = ogTitleMatch[1].replace(' – Ubiquiti Store USA', '').trim();\n} else if (titleMatch) {\n  productName = titleMatch[1].replace(' – Ubiquiti Store USA', '').trim();\n}\n\n// Primary check: schema.org availability (most reliable)\nconst schemaInStock = html.includes('\"availability\":\"https://schema.org/InStock\"');\nconst schemaOutOfStock = html.includes('\"availability\":\"https://schema.org/OutOfStock\"');\n\n// Secondary checks\nconst hasAddToCart = html.includes('>Add to Cart<');\nconst hasSoldOut = html.includes('>Sold Out<');\n\n// Extract price from JSON-LD schema\nlet price = 'Unknown';\nconst priceMatch = html.match(/\"price\":(\\d+(?:\\.\\d+)?)/); \nconst currencyMatch = html.match(/\"priceCurrency\":\"([A-Z]+)\"/);\nif (priceMatch) {\n  const amount = parseFloat(priceMatch[1]);\n  const currency = currencyMatch ? currencyMatch[1] : 'USD';\n  price = currency === 'USD' ? `$${amount.toFixed(2)}` : `${amount.toFixed(2)} ${currency}`;\n}\n\n// Determine stock status\nconst inStock = schemaInStock || (hasAddToCart && !schemaOutOfStock);\nconst soldOut = schemaOutOfStock || (hasSoldOut && !schemaInStock);\n\nreturn [{\n  json: {\n    success: true,\n    inStock: inStock,\n    soldOut: soldOut,\n    price: price,\n    checkedAt: new Date().toISOString(),\n    productUrl: webhookData.url,\n    productName: productName,\n    interval: webhookData.interval,\n    guildId: webhookData.guild_id,\n    logsChannel: webhookData.logs_channel,\n    alertsChannel: webhookData.alerts_channel\n  }\n}];"
      },
      "id": "code-check-stock",
      "name": "Check Stock Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-success",
      "name": "Check Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "stock-check",
              "leftValue": "={{ $json.inStock }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-in-stock",
      "name": "Is In Stock?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        -100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"inStock\": {{ $json.inStock }},\n  \"productName\": \"{{ $json.productName }}\",\n  \"price\": \"{{ $json.price }}\",\n  \"message\": \"{{ $json.inStock ? '🟢 **IN STOCK!** ' : '🔴 **Out of Stock** - ' }}{{ $json.productName }} ({{ $json.price }})\"\n}",
        "options": {}
      },
      "id": "respond-in-stock",
      "name": "Respond In Stock",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1100,
        -200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"inStock\": false,\n  \"productName\": \"{{ $json.productName }}\",\n  \"price\": \"{{ $json.price }}\",\n  \"message\": \"🔴 **Out of Stock** - {{ $json.productName }} ({{ $json.price }})\"\n}",
        "options": {}
      },
      "id": "respond-out-of-stock",
      "name": "Respond Out of Stock",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": true,\n  \"message\": \"Failed to check stock: {{ $json.error }}\"\n}",
        "options": {}
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        100
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Product Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Product Page": {
      "main": [
        [
          {
            "node": "Check Stock Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Stock Status": {
      "main": [
        [
          {
            "node": "Check Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success?": {
      "main": [
        [
          {
            "node": "Is In Stock?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is In Stock?": {
      "main": [
        [
          {
            "node": "Respond In Stock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Out of Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "activeVersionId": "a10a1478-da3d-4986-801a-abff27cd3aa1",
  "versionCounter": 67,
  "shared": [
    {
      "updatedAt": "2025-12-31T16:03:06.310Z",
      "createdAt": "2025-12-31T16:03:06.310Z",
      "role": "workflow:owner",
      "workflowId": "l3ODSj6xssx0rGMS",
      "projectId": "9PluwpnSgpfsJVgg",
      "project": {
        "updatedAt": "2025-12-28T01:37:43.910Z",
        "createdAt": "2025-12-28T01:35:40.066Z",
        "id": "9PluwpnSgpfsJVgg",
        "name": "Lee Truong <lee.t.truong@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "7beaf598-6999-4d3c-9d00-baa047dc31a6",
        "projectRelations": [
          {
            "updatedAt": "2025-12-28T01:35:40.067Z",
            "createdAt": "2025-12-28T01:35:40.067Z",
            "userId": "7beaf598-6999-4d3c-9d00-baa047dc31a6",
            "projectId": "9PluwpnSgpfsJVgg",
            "user": {
              "updatedAt": "2026-01-28T07:20:46.000Z",
              "createdAt": "2025-12-28T01:35:38.819Z",
              "id": "7beaf598-6999-4d3c-9d00-baa047dc31a6",
              "email": "lee.t.truong@gmail.com",
              "firstName": "Lee",
              "lastName": "Truong",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-28T01:37:56.518Z",
                "personalization_survey_n8n_version": "2.1.4",
                "companyType": "personal",
                "reportedSource": "other",
                "reportedSourceOther": "Reddit"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "HjMS6wKFEuMHakM7",
                "userActivatedAt": 1767045606046,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1769392857656
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-28",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2025-12-31T17:10:19.000Z",
    "createdAt": "2025-12-31T17:10:13.799Z",
    "versionId": "a10a1478-da3d-4986-801a-abff27cd3aa1",
    "workflowId": "l3ODSj6xssx0rGMS",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "ubiquiti-stock-check",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-trigger",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "webhookId": "ubiquiti-stock-check"
      },
      {
        "parameters": {
          "url": "={{ $json.body.url }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "text"
              }
            }
          }
        },
        "id": "http-request",
        "name": "Fetch Product Page",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          220,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst webhookData = $('Webhook').first().json.body;\n\n// Get HTML from response\nconst html = input.data || input.body || (typeof input === 'string' ? input : '');\n\nif (!html || typeof html !== 'string') {\n  return [{\n    json: {\n      success: false,\n      error: 'Could not fetch product page',\n      url: webhookData.url\n    }\n  }];\n}\n\n// Extract product name from page title or og:title\nlet productName = 'Unknown Product';\nconst titleMatch = html.match(/<title>([^<]+)<\\/title>/i);\nconst ogTitleMatch = html.match(/property=\"og:title\"\\s+content=\"([^\"]+)\"/i);\nif (ogTitleMatch) {\n  productName = ogTitleMatch[1].replace(' – Ubiquiti Store USA', '').trim();\n} else if (titleMatch) {\n  productName = titleMatch[1].replace(' – Ubiquiti Store USA', '').trim();\n}\n\n// Primary check: schema.org availability (most reliable)\nconst schemaInStock = html.includes('\"availability\":\"https://schema.org/InStock\"');\nconst schemaOutOfStock = html.includes('\"availability\":\"https://schema.org/OutOfStock\"');\n\n// Secondary checks\nconst hasAddToCart = html.includes('>Add to Cart<');\nconst hasSoldOut = html.includes('>Sold Out<');\n\n// Extract price from JSON-LD schema\nlet price = 'Unknown';\nconst priceMatch = html.match(/\"price\":(\\d+(?:\\.\\d+)?)/); \nconst currencyMatch = html.match(/\"priceCurrency\":\"([A-Z]+)\"/);\nif (priceMatch) {\n  const amount = parseFloat(priceMatch[1]);\n  const currency = currencyMatch ? currencyMatch[1] : 'USD';\n  price = currency === 'USD' ? `$${amount.toFixed(2)}` : `${amount.toFixed(2)} ${currency}`;\n}\n\n// Determine stock status\nconst inStock = schemaInStock || (hasAddToCart && !schemaOutOfStock);\nconst soldOut = schemaOutOfStock || (hasSoldOut && !schemaInStock);\n\nreturn [{\n  json: {\n    success: true,\n    inStock: inStock,\n    soldOut: soldOut,\n    price: price,\n    checkedAt: new Date().toISOString(),\n    productUrl: webhookData.url,\n    productName: productName,\n    interval: webhookData.interval,\n    guildId: webhookData.guild_id,\n    logsChannel: webhookData.logs_channel,\n    alertsChannel: webhookData.alerts_channel\n  }\n}];"
        },
        "id": "code-check-stock",
        "name": "Check Stock Status",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          440,
          0
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "success-check",
                "leftValue": "={{ $json.success }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-success",
        "name": "Check Success?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          660,
          0
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "stock-check",
                "leftValue": "={{ $json.inStock }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-in-stock",
        "name": "Is In Stock?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          880,
          -100
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"success\": true,\n  \"inStock\": {{ $json.inStock }},\n  \"productName\": \"{{ $json.productName }}\",\n  \"price\": \"{{ $json.price }}\",\n  \"message\": \"{{ $json.inStock ? '🟢 **IN STOCK!** ' : '🔴 **Out of Stock** - ' }}{{ $json.productName }} ({{ $json.price }})\"\n}",
          "options": {}
        },
        "id": "respond-in-stock",
        "name": "Respond In Stock",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1100,
          -200
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"success\": true,\n  \"inStock\": false,\n  \"productName\": \"{{ $json.productName }}\",\n  \"price\": \"{{ $json.price }}\",\n  \"message\": \"🔴 **Out of Stock** - {{ $json.productName }} ({{ $json.price }})\"\n}",
          "options": {}
        },
        "id": "respond-out-of-stock",
        "name": "Respond Out of Stock",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1100,
          0
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"success\": false,\n  \"error\": true,\n  \"message\": \"Failed to check stock: {{ $json.error }}\"\n}",
          "options": {}
        },
        "id": "respond-error",
        "name": "Respond Error",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          880,
          100
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Fetch Product Page",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Product Page": {
        "main": [
          [
            {
              "node": "Check Stock Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Stock Status": {
        "main": [
          [
            {
              "node": "Check Success?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Success?": {
        "main": [
          [
            {
              "node": "Is In Stock?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is In Stock?": {
        "main": [
          [
            {
              "node": "Respond In Stock",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond Out of Stock",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Lee Truong",
    "name": "Version a10a1478",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2025-12-31T17:10:19.505Z",
        "id": 15,
        "workflowId": "l3ODSj6xssx0rGMS",
        "versionId": "a10a1478-da3d-4986-801a-abff27cd3aa1",
        "event": "activated",
        "userId": "7beaf598-6999-4d3c-9d00-baa047dc31a6"
      },
      {
        "createdAt": "2025-12-31T17:13:17.438Z",
        "id": 18,
        "workflowId": "l3ODSj6xssx0rGMS",
        "versionId": "a10a1478-da3d-4986-801a-abff27cd3aa1",
        "event": "activated",
        "userId": "7beaf598-6999-4d3c-9d00-baa047dc31a6"
      },
      {
        "createdAt": "2025-12-31T20:06:02.740Z",
        "id": 20,
        "workflowId": "l3ODSj6xssx0rGMS",
        "versionId": "a10a1478-da3d-4986-801a-abff27cd3aa1",
        "event": "activated",
        "userId": "7beaf598-6999-4d3c-9d00-baa047dc31a6"
      },
      {
        "createdAt": "2026-01-04T18:39:05.751Z",
        "id": 26,
        "workflowId": "l3ODSj6xssx0rGMS",
        "versionId": "a10a1478-da3d-4986-801a-abff27cd3aa1",
        "event": "activated",
        "userId": "7beaf598-6999-4d3c-9d00-baa047dc31a6"
      },
      {
        "createdAt": "2026-01-04T19:53:36.724Z",
        "id": 29,
        "workflowId": "l3ODSj6xssx0rGMS",
        "versionId": "a10a1478-da3d-4986-801a-abff27cd3aa1",
        "event": "activated",
        "userId": "7beaf598-6999-4d3c-9d00-baa047dc31a6"
      },
      {
        "createdAt": "2026-01-04T20:03:17.807Z",
        "id": 32,
        "workflowId": "l3ODSj6xssx0rGMS",
        "versionId": "a10a1478-da3d-4986-801a-abff27cd3aa1",
        "event": "activated",
        "userId": "7beaf598-6999-4d3c-9d00-baa047dc31a6"
      },
      {
        "createdAt": "2026-01-04T20:53:07.007Z",
        "id": 37,
        "workflowId": "l3ODSj6xssx0rGMS",
        "versionId": "a10a1478-da3d-4986-801a-abff27cd3aa1",
        "event": "activated",
        "userId": "7beaf598-6999-4d3c-9d00-baa047dc31a6"
      },
      {
        "createdAt": "2026-01-04T21:02:41.487Z",
        "id": 45,
        "workflowId": "l3ODSj6xssx0rGMS",
        "versionId": "a10a1478-da3d-4986-801a-abff27cd3aa1",
        "event": "activated",
        "userId": "7beaf598-6999-4d3c-9d00-baa047dc31a6"
      },
      {
        "createdAt": "2026-01-26T03:52:50.741Z",
        "id": 53,
        "workflowId": "l3ODSj6xssx0rGMS",
        "versionId": "a10a1478-da3d-4986-801a-abff27cd3aa1",
        "event": "activated",
        "userId": "7beaf598-6999-4d3c-9d00-baa047dc31a6"
      },
      {
        "createdAt": "2026-01-27T02:08:40.290Z",
        "id": 61,
        "workflowId": "l3ODSj6xssx0rGMS",
        "versionId": "a10a1478-da3d-4986-801a-abff27cd3aa1",
        "event": "activated",
        "userId": "7beaf598-6999-4d3c-9d00-baa047dc31a6"
      },
      {
        "createdAt": "2026-01-28T07:33:26.210Z",
        "id": 72,
        "workflowId": "l3ODSj6xssx0rGMS",
        "versionId": "a10a1478-da3d-4986-801a-abff27cd3aa1",
        "event": "activated",
        "userId": "7beaf598-6999-4d3c-9d00-baa047dc31a6"
      },
      {
        "createdAt": "2026-01-28T07:36:24.035Z",
        "id": 80,
        "workflowId": "l3ODSj6xssx0rGMS",
        "versionId": "a10a1478-da3d-4986-801a-abff27cd3aa1",
        "event": "activated",
        "userId": "7beaf598-6999-4d3c-9d00-baa047dc31a6"
      },
      {
        "createdAt": "2026-01-28T07:41:03.773Z",
        "id": 88,
        "workflowId": "l3ODSj6xssx0rGMS",
        "versionId": "a10a1478-da3d-4986-801a-abff27cd3aa1",
        "event": "activated",
        "userId": "7beaf598-6999-4d3c-9d00-baa047dc31a6"
      },
      {
        "createdAt": "2026-01-28T15:53:41.318Z",
        "id": 109,
        "workflowId": "l3ODSj6xssx0rGMS",
        "versionId": "a10a1478-da3d-4986-801a-abff27cd3aa1",
        "event": "activated",
        "userId": "7beaf598-6999-4d3c-9d00-baa047dc31a6"
      },
      {
        "createdAt": "2026-01-28T22:00:47.005Z",
        "id": 117,
        "workflowId": "l3ODSj6xssx0rGMS",
        "versionId": "a10a1478-da3d-4986-801a-abff27cd3aa1",
        "event": "activated",
        "userId": "7beaf598-6999-4d3c-9d00-baa047dc31a6"
      },
      {
        "createdAt": "2026-01-28T23:13:39.284Z",
        "id": 126,
        "workflowId": "l3ODSj6xssx0rGMS",
        "versionId": "a10a1478-da3d-4986-801a-abff27cd3aa1",
        "event": "activated",
        "userId": "7beaf598-6999-4d3c-9d00-baa047dc31a6"
      },
      {
        "createdAt": "2026-01-28T23:16:56.161Z",
        "id": 135,
        "workflowId": "l3ODSj6xssx0rGMS",
        "versionId": "a10a1478-da3d-4986-801a-abff27cd3aa1",
        "event": "activated",
        "userId": "7beaf598-6999-4d3c-9d00-baa047dc31a6"
      }
    ]
  }
}
