workflows/universal-stock-check.json
{
  "updatedAt": "2026-01-28T23:51:34.259Z",
  "createdAt": "2026-01-27T02:08:40.849Z",
  "id": "iDxSbZMiCZrFd7sn",
  "name": "Universal Stock Check",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "universal-stock-check",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "universal-stock-check"
    },
    {
      "parameters": {
        "url": "={{ $json.body.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36"
            },
            {
              "name": "accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7"
            },
            {
              "name": "accept-language",
              "value": "en-US,en;q=0.9"
            },
            {
              "name": "accept-encoding",
              "value": "gzip, deflate, br"
            },
            {
              "name": "cache-control",
              "value": "max-age=0"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Chromium\";v=\"144\", \"Google Chrome\";v=\"144\", \"Not-A.Brand\";v=\"99\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"macOS\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "document"
            },
            {
              "name": "sec-fetch-mode",
              "value": "navigate"
            },
            {
              "name": "sec-fetch-site",
              "value": "none"
            },
            {
              "name": "sec-fetch-user",
              "value": "?1"
            },
            {
              "name": "upgrade-insecure-requests",
              "value": "1"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "http-request",
      "name": "Fetch Product Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst webhookData = $('Webhook').first().json.body;\n\n// Get HTML from response\nlet html = input.data || input.body || (typeof input === 'string' ? input : '');\n\nif (!html || typeof html !== 'string') {\n  return [{\n    json: {\n      success: false,\n      error: 'Could not fetch product page',\n      url: webhookData.url\n    }\n  }];\n}\n\n// Truncate HTML to reasonable size for LLM (keep first 50000 chars)\nif (html.length > 50000) {\n  html = html.substring(0, 50000);\n}\n\n// Hardcoded Discord IDs\nconst GUILD_ID = '1455288023871656132';\nconst LOGS_CHANNEL_ID = webhookData.logs_channel_id || '1465975393830834196'; // Fallback to stock-alerts if not provided\nconst STOCK_ALERTS_CHANNEL_ID = '1465975393830834196';\n\nreturn [{\n  json: {\n    html: html,\n    url: webhookData.url,\n    guild_id: GUILD_ID,\n    logs_channel_id: LOGS_CHANNEL_ID,\n    alerts_channel_id: STOCK_ALERTS_CHANNEL_ID\n  }\n}];"
      },
      "id": "prepare-html",
      "name": "Prepare HTML for Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a product stock availability analyzer. Analyze the following HTML and determine:\n1. If the product is currently in stock\n2. The product name\n3. The product price\n\nHTML to analyze:\n{{ $json.html }}\n\nRespond in JSON format only:\n{\n  \"inStock\": true/false,\n  \"productName\": \"product name\",\n  \"price\": \"$XX.XX or price string\",\n  \"confidence\": \"high/medium/low\",\n  \"reasoning\": \"brief explanation of how you determined stock status\"\n}\n\nCRITICAL RULES FOR STOCK DETECTION:\n1. FIRST check for OUT OF STOCK indicators - if ANY of these exist, set inStock=false:\n   - Text containing: \"Out of Stock\", \"Sold Out\", \"Unavailable\", \"Coming Soon\"\n   - Disabled buttons with text like \"Out of Stock\"\n   - \"Notify Me\" or \"Back in Stock Alert\" buttons\n   - availability: \"OutOfStock\" in schema\n\n2. ONLY set inStock=true if you find ACTIVE \"Add to Cart\" or \"Buy Now\" buttons\n   - Button must NOT be disabled\n   - Button must be clickable/actionable\n   - availability: \"InStock\" in schema\n\n3. When uncertain or conflicting signals, ALWAYS default to inStock=false with low confidence\n\n4. Be EXTREMELY strict - false positives (saying in-stock when out) are worse than false negatives",
        "hasOutputParser": true
      },
      "id": "ai-chain",
      "name": "AI Stock Analyzer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "model": "qwen2.5-coder:7b-instruct-q6_K",
        "options": {}
      },
      "id": "ollama-model",
      "name": "Ollama LLM",
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        464,
        240
      ],
      "credentials": {
        "ollamaApi": {
          "id": "oLXj828fzRvp3V6Z",
          "name": "Ollama 2070"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "  {                                                           \n    \"inStock\": false,                                         \n    \"productName\": \"NVIDIA GeForce RTX 5090\",                 \n    \"price\": \"$1999.99\",                                      \n    \"confidence\": \"high\",                                     \n    \"reasoning\": \"Product page shows out of stock message\"    \n  }    "
      },
      "id": "output-parser",
      "name": "JSON Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        672,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst preparedData = $('Prepare HTML for Analysis').first().json;\n\n// Parse AI response\nlet aiResponse;\ntry {\n  if (typeof input.output === 'string') {\n    aiResponse = JSON.parse(input.output);\n  } else {\n    aiResponse = input.output || input;\n  }\n} catch (e) {\n  return [{\n    json: {\n      success: false,\n      error: 'Failed to parse AI response',\n      url: preparedData.url\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    inStock: aiResponse.inStock === true,\n    productName: aiResponse.productName || 'Unknown Product',\n    price: aiResponse.price || 'Unknown',\n    confidence: aiResponse.confidence || 'unknown',\n    reasoning: aiResponse.reasoning || '',\n    url: preparedData.url,\n    guild_id: preparedData.guild_id,\n    logs_channel_id: preparedData.logs_channel_id,\n    alerts_channel_id: preparedData.alerts_channel_id,\n    checkedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "process-result",
      "name": "Process AI Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-success",
      "name": "Check Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1104,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "stock-check",
              "leftValue": "={{ $json.inStock }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-in-stock",
      "name": "Is In Stock?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1328,
        -96
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1455288023871656132",
          "mode": "list",
          "cachedResultName": "Marcello Homelab",
          "cachedResultUrl": "https://discord.com/channels/1455288023871656132"
        },
        "channelId": {
          "__rl": true,
          "value": "1465975393830834196",
          "mode": "list",
          "cachedResultName": "stock-alerts",
          "cachedResultUrl": "https://discord.com/channels/1455288023871656132/1465975393830834196"
        },
        "content": "=🟢 **{{ $json.productName }}** is in stock!\n\n**Price:** {{ $json.price }}\n**Confidence:** {{ $json.confidence }}\n**Link:** {{ $json.url }}\n\n_AI Analysis: {{ $json.reasoning }}_",
        "options": {}
      },
      "id": "discord-alert",
      "name": "Discord Stock Alert",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1552,
        -208
      ],
      "webhookId": "2b47bb79-0363-4d9d-bc07-67ae1f057700",
      "credentials": {
        "discordBotApi": {
          "id": "V3BxUuJIGjCULqBN",
          "name": "MarcelloBot"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1455288023871656132",
          "mode": "list",
          "cachedResultName": "Marcello Homelab",
          "cachedResultUrl": "https://discord.com/channels/1455288023871656132"
        },
        "channelId": {
          "__rl": true,
          "value": "1455417524966391944",
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "https://discord.com/channels/1455288023871656132/1455417524966391944"
        },
        "content": "=`[Universal Stock Check]` **{{ $json.productName }}**: {{ $json.inStock ? '✓ In Stock' : '✗ Out of Stock' }} ({{ $json.confidence }} confidence)",
        "options": {}
      },
      "id": "discord-log",
      "name": "Discord Log",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1760,
        0
      ],
      "webhookId": "289cf95d-27f1-4007-a6a7-5ce52fc3c3c9",
      "credentials": {
        "discordBotApi": {
          "id": "V3BxUuJIGjCULqBN",
          "name": "MarcelloBot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"inStock\": {{ $('Is In Stock?').item.json.inStock }},\n  \"productName\": \"{{ $('Is In Stock?').item.json.productName }}\",\n  \"price\": \"{{ $('Is In Stock?').item.json.price }}\",\n  \"confidence\": \"{{ $('Is In Stock?').item.json.confidence }}\",\n  \"message\": \"{{ $('Is In Stock?').item.json.inStock ? '🟢 **IN STOCK!** ' : '🔴 **Out of Stock** - ' }}{{ $('Is In Stock?').item.json.productName }} ({{ $('Is In Stock?').item.json.price }})\"\n}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1984,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": true,\n  \"message\": \"Failed to check stock: {{ $json.error }}\"\n}",
        "options": {}
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1328,
        112
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Product Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Product Page": {
      "main": [
        [
          {
            "node": "Prepare HTML for Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare HTML for Analysis": {
      "main": [
        [
          {
            "node": "AI Stock Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Stock Analyzer": {
      "main": [
        [
          {
            "node": "Process AI Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama LLM": {
      "ai_languageModel": [
        [
          {
            "node": "AI Stock Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "JSON Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Stock Analyzer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Process AI Result": {
      "main": [
        [
          {
            "node": "Check Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success?": {
      "main": [
        [
          {
            "node": "Is In Stock?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is In Stock?": {
      "main": [
        [
          {
            "node": "Discord Stock Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Stock Alert": {
      "main": [
        [
          {
            "node": "Discord Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Log": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "activeVersionId": "4610c97b-cdf3-42ca-be12-12690e01d7ee",
  "versionCounter": 203,
  "shared": [
    {
      "updatedAt": "2026-01-27T02:08:40.851Z",
      "createdAt": "2026-01-27T02:08:40.851Z",
      "role": "workflow:owner",
      "workflowId": "iDxSbZMiCZrFd7sn",
      "projectId": "9PluwpnSgpfsJVgg",
      "project": {
        "updatedAt": "2025-12-28T01:37:43.910Z",
        "createdAt": "2025-12-28T01:35:40.066Z",
        "id": "9PluwpnSgpfsJVgg",
        "name": "Lee Truong <lee.t.truong@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "7beaf598-6999-4d3c-9d00-baa047dc31a6",
        "projectRelations": [
          {
            "updatedAt": "2025-12-28T01:35:40.067Z",
            "createdAt": "2025-12-28T01:35:40.067Z",
            "userId": "7beaf598-6999-4d3c-9d00-baa047dc31a6",
            "projectId": "9PluwpnSgpfsJVgg",
            "user": {
              "updatedAt": "2026-01-28T07:20:46.000Z",
              "createdAt": "2025-12-28T01:35:38.819Z",
              "id": "7beaf598-6999-4d3c-9d00-baa047dc31a6",
              "email": "lee.t.truong@gmail.com",
              "firstName": "Lee",
              "lastName": "Truong",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-28T01:37:56.518Z",
                "personalization_survey_n8n_version": "2.1.4",
                "companyType": "personal",
                "reportedSource": "other",
                "reportedSourceOther": "Reddit"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "HjMS6wKFEuMHakM7",
                "userActivatedAt": 1767045606046,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1769392857656
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-28",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-28T23:51:46.000Z",
    "createdAt": "2026-01-28T23:51:02.149Z",
    "versionId": "4610c97b-cdf3-42ca-be12-12690e01d7ee",
    "workflowId": "iDxSbZMiCZrFd7sn",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "universal-stock-check",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-trigger",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "webhookId": "universal-stock-check"
      },
      {
        "parameters": {
          "url": "={{ $json.body.url }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "user-agent",
                "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36"
              },
              {
                "name": "accept",
                "value": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7"
              },
              {
                "name": "accept-language",
                "value": "en-US,en;q=0.9"
              },
              {
                "name": "accept-encoding",
                "value": "gzip, deflate, br"
              },
              {
                "name": "cache-control",
                "value": "max-age=0"
              },
              {
                "name": "sec-ch-ua",
                "value": "\"Chromium\";v=\"144\", \"Google Chrome\";v=\"144\", \"Not-A.Brand\";v=\"99\""
              },
              {
                "name": "sec-ch-ua-mobile",
                "value": "?0"
              },
              {
                "name": "sec-ch-ua-platform",
                "value": "\"macOS\""
              },
              {
                "name": "sec-fetch-dest",
                "value": "document"
              },
              {
                "name": "sec-fetch-mode",
                "value": "navigate"
              },
              {
                "name": "sec-fetch-site",
                "value": "none"
              },
              {
                "name": "sec-fetch-user",
                "value": "?1"
              },
              {
                "name": "upgrade-insecure-requests",
                "value": "1"
              }
            ]
          },
          "options": {
            "redirect": {
              "redirect": {
                "maxRedirects": 5
              }
            },
            "response": {
              "response": {
                "responseFormat": "text"
              }
            },
            "timeout": 30000
          }
        },
        "id": "http-request",
        "name": "Fetch Product Page",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          224,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst webhookData = $('Webhook').first().json.body;\n\n// Get HTML from response\nlet html = input.data || input.body || (typeof input === 'string' ? input : '');\n\nif (!html || typeof html !== 'string') {\n  return [{\n    json: {\n      success: false,\n      error: 'Could not fetch product page',\n      url: webhookData.url\n    }\n  }];\n}\n\n// Truncate HTML to reasonable size for LLM (keep first 50000 chars)\nif (html.length > 50000) {\n  html = html.substring(0, 50000);\n}\n\n// Hardcoded Discord IDs\nconst GUILD_ID = '1455288023871656132';\nconst LOGS_CHANNEL_ID = webhookData.logs_channel_id || '1465975393830834196'; // Fallback to stock-alerts if not provided\nconst STOCK_ALERTS_CHANNEL_ID = '1465975393830834196';\n\nreturn [{\n  json: {\n    html: html,\n    url: webhookData.url,\n    guild_id: GUILD_ID,\n    logs_channel_id: LOGS_CHANNEL_ID,\n    alerts_channel_id: STOCK_ALERTS_CHANNEL_ID\n  }\n}];"
        },
        "id": "prepare-html",
        "name": "Prepare HTML for Analysis",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          448,
          0
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=You are a product stock availability analyzer. Analyze the following HTML and determine:\n1. If the product is currently in stock\n2. The product name\n3. The product price\n\nHTML to analyze:\n{{ $json.html }}\n\nRespond in JSON format only:\n{\n  \"inStock\": true/false,\n  \"productName\": \"product name\",\n  \"price\": \"$XX.XX or price string\",\n  \"confidence\": \"high/medium/low\",\n  \"reasoning\": \"brief explanation of how you determined stock status\"\n}\n\nCRITICAL RULES FOR STOCK DETECTION:\n1. FIRST check for OUT OF STOCK indicators - if ANY of these exist, set inStock=false:\n   - Text containing: \"Out of Stock\", \"Sold Out\", \"Unavailable\", \"Coming Soon\"\n   - Disabled buttons with text like \"Out of Stock\"\n   - \"Notify Me\" or \"Back in Stock Alert\" buttons\n   - availability: \"OutOfStock\" in schema\n\n2. ONLY set inStock=true if you find ACTIVE \"Add to Cart\" or \"Buy Now\" buttons\n   - Button must NOT be disabled\n   - Button must be clickable/actionable\n   - availability: \"InStock\" in schema\n\n3. When uncertain or conflicting signals, ALWAYS default to inStock=false with low confidence\n\n4. Be EXTREMELY strict - false positives (saying in-stock when out) are worse than false negatives",
          "hasOutputParser": true
        },
        "id": "ai-chain",
        "name": "AI Stock Analyzer",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.4,
        "position": [
          672,
          0
        ]
      },
      {
        "parameters": {
          "model": "qwen2.5-coder:7b-instruct-q6_K",
          "options": {}
        },
        "id": "ollama-model",
        "name": "Ollama LLM",
        "type": "@n8n/n8n-nodes-langchain.lmOllama",
        "typeVersion": 1,
        "position": [
          464,
          240
        ],
        "credentials": {
          "ollamaApi": {
            "id": "oLXj828fzRvp3V6Z",
            "name": "Ollama 2070"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "  {                                                           \n    \"inStock\": false,                                         \n    \"productName\": \"NVIDIA GeForce RTX 5090\",                 \n    \"price\": \"$1999.99\",                                      \n    \"confidence\": \"high\",                                     \n    \"reasoning\": \"Product page shows out of stock message\"    \n  }    "
        },
        "id": "output-parser",
        "name": "JSON Output Parser",
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.2,
        "position": [
          672,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst preparedData = $('Prepare HTML for Analysis').first().json;\n\n// Parse AI response\nlet aiResponse;\ntry {\n  if (typeof input.output === 'string') {\n    aiResponse = JSON.parse(input.output);\n  } else {\n    aiResponse = input.output || input;\n  }\n} catch (e) {\n  return [{\n    json: {\n      success: false,\n      error: 'Failed to parse AI response',\n      url: preparedData.url\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    inStock: aiResponse.inStock === true,\n    productName: aiResponse.productName || 'Unknown Product',\n    price: aiResponse.price || 'Unknown',\n    confidence: aiResponse.confidence || 'unknown',\n    reasoning: aiResponse.reasoning || '',\n    url: preparedData.url,\n    guild_id: preparedData.guild_id,\n    logs_channel_id: preparedData.logs_channel_id,\n    alerts_channel_id: preparedData.alerts_channel_id,\n    checkedAt: new Date().toISOString()\n  }\n}];"
        },
        "id": "process-result",
        "name": "Process AI Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          880,
          0
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "success-check",
                "leftValue": "={{ $json.success }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-success",
        "name": "Check Success?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1104,
          0
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "stock-check",
                "leftValue": "={{ $json.inStock }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-in-stock",
        "name": "Is In Stock?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1328,
          -96
        ]
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "__rl": true,
            "value": "1455288023871656132",
            "mode": "list",
            "cachedResultName": "Marcello Homelab",
            "cachedResultUrl": "https://discord.com/channels/1455288023871656132"
          },
          "channelId": {
            "__rl": true,
            "value": "1465975393830834196",
            "mode": "list",
            "cachedResultName": "stock-alerts",
            "cachedResultUrl": "https://discord.com/channels/1455288023871656132/1465975393830834196"
          },
          "content": "=🟢 **{{ $json.productName }}** is in stock!\n\n**Price:** {{ $json.price }}\n**Confidence:** {{ $json.confidence }}\n**Link:** {{ $json.url }}\n\n_AI Analysis: {{ $json.reasoning }}_",
          "options": {}
        },
        "id": "discord-alert",
        "name": "Discord Stock Alert",
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          1552,
          -208
        ],
        "webhookId": "2b47bb79-0363-4d9d-bc07-67ae1f057700",
        "credentials": {
          "discordBotApi": {
            "id": "V3BxUuJIGjCULqBN",
            "name": "MarcelloBot"
          }
        }
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "__rl": true,
            "value": "1455288023871656132",
            "mode": "list",
            "cachedResultName": "Marcello Homelab",
            "cachedResultUrl": "https://discord.com/channels/1455288023871656132"
          },
          "channelId": {
            "__rl": true,
            "value": "1455417524966391944",
            "mode": "list",
            "cachedResultName": "logs",
            "cachedResultUrl": "https://discord.com/channels/1455288023871656132/1455417524966391944"
          },
          "content": "=`[Universal Stock Check]` **{{ $json.productName }}**: {{ $json.inStock ? '✓ In Stock' : '✗ Out of Stock' }} ({{ $json.confidence }} confidence)",
          "options": {}
        },
        "id": "discord-log",
        "name": "Discord Log",
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          1760,
          0
        ],
        "webhookId": "289cf95d-27f1-4007-a6a7-5ce52fc3c3c9",
        "credentials": {
          "discordBotApi": {
            "id": "V3BxUuJIGjCULqBN",
            "name": "MarcelloBot"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"success\": true,\n  \"inStock\": {{ $('Is In Stock?').item.json.inStock }},\n  \"productName\": \"{{ $('Is In Stock?').item.json.productName }}\",\n  \"price\": \"{{ $('Is In Stock?').item.json.price }}\",\n  \"confidence\": \"{{ $('Is In Stock?').item.json.confidence }}\",\n  \"message\": \"{{ $('Is In Stock?').item.json.inStock ? '🟢 **IN STOCK!** ' : '🔴 **Out of Stock** - ' }}{{ $('Is In Stock?').item.json.productName }} ({{ $('Is In Stock?').item.json.price }})\"\n}",
          "options": {}
        },
        "id": "respond-success",
        "name": "Respond Success",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1984,
          0
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"success\": false,\n  \"error\": true,\n  \"message\": \"Failed to check stock: {{ $json.error }}\"\n}",
          "options": {}
        },
        "id": "respond-error",
        "name": "Respond Error",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1328,
          112
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Fetch Product Page",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Product Page": {
        "main": [
          [
            {
              "node": "Prepare HTML for Analysis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare HTML for Analysis": {
        "main": [
          [
            {
              "node": "AI Stock Analyzer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Stock Analyzer": {
        "main": [
          [
            {
              "node": "Process AI Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ollama LLM": {
        "ai_languageModel": [
          [
            {
              "node": "AI Stock Analyzer",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "JSON Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "AI Stock Analyzer",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Process AI Result": {
        "main": [
          [
            {
              "node": "Check Success?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Success?": {
        "main": [
          [
            {
              "node": "Is In Stock?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respond Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is In Stock?": {
        "main": [
          [
            {
              "node": "Discord Stock Alert",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Discord Log",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Discord Stock Alert": {
        "main": [
          [
            {
              "node": "Discord Log",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Discord Log": {
        "main": [
          [
            {
              "node": "Respond Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Lee Truong",
    "name": "Version 4610c97b",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-28T23:51:46.892Z",
        "id": 202,
        "workflowId": "iDxSbZMiCZrFd7sn",
        "versionId": "4610c97b-cdf3-42ca-be12-12690e01d7ee",
        "event": "activated",
        "userId": "7beaf598-6999-4d3c-9d00-baa047dc31a6"
      }
    ]
  }
}
