workflows/vettix-scraper-schedule.json
{
  "updatedAt": "2026-01-28T22:00:46.686Z",
  "createdAt": "2025-12-31T20:06:02.321Z",
  "id": "qAEDnq7pJY2bdL66",
  "name": "VetTix Scraper Schedule",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// States to scrape\nconst states = ['TX', 'TN', 'CA', 'NV'];\n\nreturn states.map(state => ({\n  json: { state: state, status: 'open' }\n}));"
      },
      "id": "code-states",
      "name": "Get States",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://vettix-scraper.vettix-scraper.svc.cluster.local:8000/scrape",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ state: $json.state, status: $json.status }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "http-scrape",
      "name": "Scrape VetTix",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst stateInput = $('Get States').item.json;\n\nif (!input.success) {\n  return [{\n    json: {\n      success: false,\n      state: stateInput.state,\n      message: `Failed to scrape: ${input.message || 'Unknown error'}`\n    }\n  }];\n}\n\nconst events = input.events || [];\nconst state = input.state || stateInput.state || 'Unknown';\n\n// State name mapping\nconst stateNames = {\n  'TX': 'Texas', 'TN': 'Tennessee', 'CA': 'California', 'NV': 'Nevada',\n  'FL': 'Florida', 'NY': 'New York', 'AZ': 'Arizona', 'CO': 'Colorado',\n  'GA': 'Georgia', 'NC': 'North Carolina'\n};\nconst stateName = stateNames[state] || state;\n\n// Badge emoji mapping\nconst badgeEmojis = {\n  'BASKETBALL': '1F3C0', 'FOOTBALL': '1F3C8', 'CONCERTS': '1F3B5', 'COMEDY': '1F602',\n  'HOCKEY': '1F3D2', 'BASEBALL': '26BE', 'SOCCER': '26BD', 'WRESTLING': '1F93C',\n  'THEATER': '1F3AD', 'MUSICALS': '1F3AD', 'FAMILY': '1F468-200D-1F469-200D-1F467-200D-1F466',\n  'FESTIVALS/FAIRS': '1F3A1', 'MONSTER TRUCK': '1F69A', 'ADULT': '1F51E',\n  'EDUCATIONAL': '1F4DA', 'MAGICIAN/ILLUSIONIST': '1F3A9', 'MIXED MARTIAL ARTS': '1F94A', 'SPORTS': '1F3C5'\n};\n\n// Badge display emojis\nconst badgeDisplayEmojis = {\n  'BASKETBALL': '\\uD83C\\uDFC0', 'FOOTBALL': '\\uD83C\\uDFC8', 'CONCERTS': '\\uD83C\\uDFB5', 'COMEDY': '\\uD83D\\uDE02',\n  'HOCKEY': '\\uD83C\\uDFD2', 'BASEBALL': '\\u26BE', 'SOCCER': '\\u26BD', 'WRESTLING': '\\uD83E\\uDD3C',\n  'THEATER': '\\uD83C\\uDFAD', 'MUSICALS': '\\uD83C\\uDFAD', 'FAMILY': '\\uD83D\\uDC68\\u200D\\uD83D\\uDC69\\u200D\\uD83D\\uDC67\\u200D\\uD83D\\uDC66',\n  'FESTIVALS/FAIRS': '\\uD83C\\uDFA1', 'MONSTER TRUCK': '\\uD83D\\uDE9A', 'ADULT': '\\uD83D\\uDD1E',\n  'EDUCATIONAL': '\\uD83D\\uDCDA', 'MAGICIAN/ILLUSIONIST': '\\uD83C\\uDFA9', 'MIXED MARTIAL ARTS': '\\uD83E\\uDD4A', 'SPORTS': '\\uD83C\\uDFC5'\n};\n\n// Count events by category\nconst categoryCounts = {};\nfor (const event of events) {\n  const badge = event.badge || 'OTHER';\n  categoryCounts[badge] = (categoryCounts[badge] || 0) + 1;\n}\n\n// Sort categories by count\nconst sortedCategories = Object.entries(categoryCounts)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 5);\n\n// Build category summary\nlet categoryText = '';\nfor (const [badge, count] of sortedCategories) {\n  const emoji = badgeDisplayEmojis[badge] || '\\uD83D\\uDCE6';\n  categoryText += `${emoji} ${badge}: ${count}\\n`;\n}\n\n// Build summary message\nconst summary = `\\uD83D\\uDCCA **Daily VetTix Update - ${stateName} (${state})**\\nFound **${events.length}** events with open tickets\\n\\n**Top Categories:**\\n${categoryText}`;\n\n// Build embeds for events (max 10 per message, batch into groups)\nconst embedBatches = [];\nconst batchSize = 10;\n\nfor (let i = 0; i < events.length; i += batchSize) {\n  const batch = events.slice(i, i + batchSize);\n  const embeds = batch.map(event => {\n    const emoji = badgeDisplayEmojis[event.badge] || '\\uD83D\\uDCE6';\n    return {\n      title: event.title,\n      description: `${emoji} **${event.badge}**\\n\\uD83D\\uDCC5 ${event.date} at ${event.time}\\n\\uD83D\\uDCCD ${event.location}`,\n      url: event.link,\n      color: 43520\n    };\n  });\n  embedBatches.push(embeds);\n}\n\nreturn [{\n  json: {\n    success: true,\n    state: state,\n    stateName: stateName,\n    count: events.length,\n    summary: summary,\n    embedBatches: embedBatches,\n    events: events\n  }\n}];"
      },
      "id": "code-format",
      "name": "Format Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-success",
      "name": "Check Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/v10/channels/{{ $env.DISCORD_VETTIX_CHANNEL_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bot {{ $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: $json.summary }) }}",
        "options": {}
      },
      "id": "discord-summary",
      "name": "Send Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ $env.DISCORD_VETTIX_CHANNEL_ID }}/messages/{{ $json.id }}/threads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bot {{ $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $('Format Results').item.json.stateName + ' Events - ' + new Date().toLocaleDateString('en-US', { month: 'short', day: 'numeric' }), auto_archive_duration: 1440 }) }}",
        "options": {}
      },
      "id": "discord-create-thread",
      "name": "Create Thread",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "const threadId = $input.first().json.id;\nconst embedBatches = $('Format Results').item.json.embedBatches;\n\n// Return each batch as a separate item to post to thread\nreturn embedBatches.map(embeds => ({\n  json: {\n    threadId: threadId,\n    embeds: embeds\n  }\n}));"
      },
      "id": "code-prepare-batches",
      "name": "Prepare Embed Batches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://discord.com/api/v10/channels/{{ $json.threadId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bot {{ $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ embeds: $json.embeds }) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 1000
            }
          }
        }
      },
      "id": "discord-post-embeds",
      "name": "Post Embeds to Thread",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/v10/channels/{{ $env.DISCORD_LOGS_CHANNEL_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bot {{ $env.DISCORD_BOT_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: '[VetTix Schedule] Failed to scrape ' + $('Get States').item.json.state + ': ' + $json.message }) }}",
        "options": {}
      },
      "id": "discord-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        100
      ]
    }
  ],
  "connections": {
    "Daily 8am": {
      "main": [
        [
          {
            "node": "Get States",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get States": {
      "main": [
        [
          {
            "node": "Scrape VetTix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape VetTix": {
      "main": [
        [
          {
            "node": "Format Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Results": {
      "main": [
        [
          {
            "node": "Check Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success?": {
      "main": [
        [
          {
            "node": "Send Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Summary": {
      "main": [
        [
          {
            "node": "Create Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Thread": {
      "main": [
        [
          {
            "node": "Prepare Embed Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Embed Batches": {
      "main": [
        [
          {
            "node": "Post Embeds to Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "activeVersionId": null,
  "versionCounter": 13,
  "shared": [
    {
      "updatedAt": "2025-12-31T20:06:02.323Z",
      "createdAt": "2025-12-31T20:06:02.323Z",
      "role": "workflow:owner",
      "workflowId": "qAEDnq7pJY2bdL66",
      "projectId": "9PluwpnSgpfsJVgg",
      "project": {
        "updatedAt": "2025-12-28T01:37:43.910Z",
        "createdAt": "2025-12-28T01:35:40.066Z",
        "id": "9PluwpnSgpfsJVgg",
        "name": "Lee Truong <lee.t.truong@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "7beaf598-6999-4d3c-9d00-baa047dc31a6",
        "projectRelations": [
          {
            "updatedAt": "2025-12-28T01:35:40.067Z",
            "createdAt": "2025-12-28T01:35:40.067Z",
            "userId": "7beaf598-6999-4d3c-9d00-baa047dc31a6",
            "projectId": "9PluwpnSgpfsJVgg",
            "user": {
              "updatedAt": "2026-01-28T07:20:46.000Z",
              "createdAt": "2025-12-28T01:35:38.819Z",
              "id": "7beaf598-6999-4d3c-9d00-baa047dc31a6",
              "email": "lee.t.truong@gmail.com",
              "firstName": "Lee",
              "lastName": "Truong",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-28T01:37:56.518Z",
                "personalization_survey_n8n_version": "2.1.4",
                "companyType": "personal",
                "reportedSource": "other",
                "reportedSourceOther": "Reddit"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "HjMS6wKFEuMHakM7",
                "userActivatedAt": 1767045606046,
                "easyAIWorkflowOnboarded": true,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1769392857656
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-28",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
